/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */

#header {
	padding-top: 4em;
	padding-bottom: 0em;
}

.handwriting {
font-family: 'Gloria Hallelujah';
font-size: 1.5em;
color: #f4f4f4;
text-align: right;
-ms-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-webkit-transform: rotate(-7deg);
-o-transform: rotate(-7deg);
transform: rotate(-7deg);
}

.arrow img {
	width: 90%;
	margin-bottom: 14px;
}

.sign-up-btn {
padding: 15px 22px;
color: #f4f4f4;
border-radius: 10px;
font-family: Asap;
border: 2px solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
background-color: #85b401;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85b401), to(#599501));
background: -moz-linear-gradient(19% 75% 90deg,#599501, #85b401);
border-left: solid 2px #b5e635;
border-top: solid 2px #b5e635;
border-right: solid 2px #739223;
border-bottom: solid 2px #495d16;
}

.sign-up-btn .top-line {
font-size: 2em;
font-weight: bold;
}

.sign-up-btn .under-line {
}

.one-third {
	width: 66%;
	display: inline-block;
}

.one-third > a {
	text-decoration: none;
}

.only-big {
	display: none;
}

@media all and (min-width: 1024px) {
.one-third {
	width: 33%;
}
.only-big {
	display: inline-block;
}
}

media="all"
layout.css:123@media only screen and (min-width: 768px)
ul.nav li {
	margin: 0.5em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #9ac753;
}

.ss-login-btn {
	float: right;
	border-radius: 5px;
	border: 1px solid white;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#contact-area form textarea,
#contact-area form input {
	padding: 0.5em 1em;
	font-size: 1.387em;
}

#contact-area form textarea {
	height: 346px;
}
/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}